* {
  margin: 0;
  padding: 0;
}


body {
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Times, Times New Roman, serif;
}

#container {
  width: 100%;

}

#motto {
  width: 90%;
  height: 36%;
  margin: auto;
  margin-top: 100px;
}

#name {
  width: 100%;
  margin-top: 45px;
}

p {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  color: black;
  opacity: 0.8;
  letter-spacing: .02em;
}

.jean {
  font-size: 18px;
  text-transform: none;
  font-style: italic;
}
@media (min-width: 1100px) {

  #container {
    width: 100%;
  }

  #motto {
    width: 90%;
  }

  #name {
    width: 100%;
  }

}

@media (max-width: 1100px) and (min-width: 1000px) {

  #container {
    width: 100%;
  }

  #motto {
    width: 90%;
    margin-top: 2px;
  }

  #name {
    width: 100%;
  }

  p {
    font-size: 30px
  }
  
}

@media (max-width: 1000px) and (min-width: 800px) {

  #container {
    width: 100%;
  }

  #motto {
    width: 90%;
    margin-top: 2px;
  }

  #name {
    width: 100%;
    margin-top: 4px;
  }

  p {
    font-size: 28px;
  }
  
}

@media (max-width: 800px) and (min-width: 500px) {

  #container {
    width: 100%;
  }

  #motto {
    width: 100%;
    margin-top: 2px;
  }

  #name {
    width: 100%;
    margin-top: 2px;
  }

  p {
    font-size: 20px;
  }

}

@media (max-width: 500px) {

  #container {
    width: 100%;
  }

  #motto {
    width: 100%;
    margin-top: 2px;
  }

  #name {
    width: 100%;
    margin-top: 2px;
  }
  
  p{
    font-size: 20px;
  }

  .jean {
    font-size: 16px;
  }
  
}
